<?xml version="1.0" encoding="utf-8"?>
<!--
    eduOpenVPN - OpenVPN Management Library for eduVPN (and beyond)

    Copyright: 2017 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduOpenVPN.dll" Guid="{809A5107-82D9-4271-BE32-37427C14BCA7}">
                <File Source="eduOpenVPN.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRNL">
            <Component Id="eduOpenVPN.resources.dll.nl" Guid="{78BDE0E1-16D7-445F-93A5-BDD239E6E021}">
                <File Id="eduOpenVPN.resources.dll.nl" Source="nl\eduOpenVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRSL">
            <Component Id="eduOpenVPN.resources.dll.sl" Guid="{DC81E7C2-B26E-4C25-9526-062C94D8494E}">
                <File Id="eduOpenVPN.resources.dll.sl" Source="sl\eduOpenVPN.resources.dll"/>
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="RESDIRUK">
            <Component Id="eduOpenVPN.resources.dll.uk" Guid="{26E43EB5-279B-4CB5-87F8-D3E54E9606CB}">
                <File Id="eduOpenVPN.resources.dll.uk" Source="uk\eduOpenVPN.resources.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduOpenVPN.dll">
            <ComponentRef Id="eduOpenVPN.dll"/>
            <ComponentRef Id="eduOpenVPN.resources.dll.nl"/>
            <ComponentRef Id="eduOpenVPN.resources.dll.sl"/>
            <ComponentRef Id="eduOpenVPN.resources.dll.uk"/>
        </ComponentGroup>
    </Fragment>
</Wix>
